.table-header {
    font-size: 1.2em;
    background-color: var(--card-background);
}

.table-data {
    font-size: 1.15em;
    background-color: var(--card-background);
}

.card {
    background-color: var(--card-background);
}

.btn-delete {
    display : block;
    color : red;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-size: 18px;
}

.btn-delete:hover {
    transform: rotate(0.1turn);
}