<div class="d-flex h-100 align-items-center">
  <div class="item-sm">
    <mat-icon class="category h-100">{{
      transaction.category | category
    }}</mat-icon>
  </div>
  <p class="mt-1 beneficiary fst-italic">{{ transaction.beneficiary }}</p>
  <div class="item-lg ms-auto d-flex flex-column align-items-end">
    <div class="d-flex h-25 column-gap-2">
      <p class="fw-bolder" [style.color]=" transaction.type==='spend' ? 'red' : 'green'">{{ transaction.amount | currency : "INR" }}</p>
      <mat-icon class="expense">{{ transaction.type | category }}</mat-icon>
    </div>
    <p class="mb-auto">
      {{ transaction.date | date : "dd MMM YYYY" }}
    </p>
  </div>
</div>
